########################### Base Crazioz V1 ##############################

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true
set sv_enforceGameBuild 2699
set onesync on
load_server_icon 96x96logo.png

set mysql_connection_string "mysql://root@127.0.0.1/basecrazioz?dateStrings=true" 
set mysql_ui true

add_principal group.admin group.user
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.steam:1100001111c4878 group.admin
exec @ts-adminmenu/server/admin_list.cfg

ensure CoordsSaver

## Appearance
setr illenium-appearance:locale "fr"

#####################
# Ressource de base #
#####################

ensure [0.Default]

#######################
# Ressource essential #
#######################

ensure oxmysql
ensure spawnmanager
ensure ox_lib
ensure es_extended
ensure ox_target
ensure ox_doorlock
ensure inventory
ensure Logs

###################
# Ressource Vocal #
###################

ensure [4.Vocal]

#################
# Ressource ESX #
#################

ensure [2.Esx]

#####################
# Ressource Non-ESX #
#####################

ensure [3.NonESX]

##########
# Metier #
##########

ensure [10.Metier]

##############
# Vehicule   #
##############

--ensure [6.Vehicule]

###########
# MAPPING #
###########

ensure [7.Mapping]

############
# Autres #
############

ensure httpmanager
exec @pmms/permissions.cfg
ensure pmms

sets sv_projectName "Base V1 By CraziozFR"
sets sv_projectDesc "Base V1 By CraziozFR"
set mysql_slow_query_warning 50
set sv_requestParanoia 3
sets tags "roleplay, fr, fun, lsms, lspd"
sets locale "fr-FR" 
setr voice_useSendingRangeOnly true
sv_scriptHookAllowed 0

#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"
sv_hostname "Base V1 By CraziozFR"
set temp_convar "Base V1 By CraziozFR !"
sv_maxclients 8
set steam_webApiKey *******
sv_licenseKey *******

#Clé patreon partager : a8my70ve0115ujgbfocrwwgubu86o5l1
